.dialogs {
    display: grid;
    grid-template-columns: 3fr 10fr;
    grid-template-rows: 1fr;
    grid-template-areas:
    "DI MESS"
    "ENTER ENTER" ;
}

.dialogItems{
    grid-area: DI;
    padding: 20px;
}
.dialogItem {
    display: grid;
    grid-template-columns: 2fr 10fr;
    align-items: center;
    justify-items: center;
    padding: 5px;
    text-align: center;
}
.dialogItem img{
    border-radius: 30px;
    width: 50px;
}
.messages {
    grid-area: MESS;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
}
.dialog {
    color: rgb(6, 137, 245);
}
.dialogActive{
    color: gold;
}

.message {
    border: 5px solid rgb(184, 250, 228);
    padding: 5px;
    margin: 5px;
    border-radius: 30px;
    display: block;
    width: 200px;
    text-align: center;
    white-space: pre-line;
}

.messageLeft{
    justify-self: start;
    background-color: bisque;
}

.messageRight{
    justify-self: end;
    background-color: bisque;
}

.enterMessage{
    grid-area: ENTER;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: left;
    align-items: center;
    padding: 20px;
}

.enterMessage form {
    display: grid;
    grid-template-columns: 1fr 1fr;

}
    

.enterMessage button{
    border: 5px solid rgb(216, 250, 184);
    padding: 5px;
    margin: 5px;
    border-radius: 30px;
    display: block;
    text-align: center;
}
.enterMessage textarea {
    border: 5px solid rgb(184, 250, 228);
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
    display: block;
    width: 800px;
}