.nav{
    grid-area: n;
    background-color: rgb(171, 156, 185);
    padding: 20px;
    text-align: center;
}

.navlink {
  color: rgb(32, 75, 216);
  text-decoration: none;
  font-weight: bold;  
}

.navLinkActive {
    color: chartreuse;
}

.navlink:hover {
  color: rgb(223, 12, 12);  
}

